<!doctype html>
<html data-ng-app>
<head>
    <title>Using Directives</title>
</head>
<!--
    ng-cloak
    ng-switch
    ng-class
    ng-show

-->
<body data-ng-init="name='Joey'">
    <span data-ng-bind="name"></span>
    <div data-ng-hide="isHidden">
        Name: <input type="text"data-ng-model="name" /> 
    </div>
    Hide: <input type="checkbox" data-ng-model="isHidden"/>
    <br />
    <button data-ng-click="name='Wick'">Change Name</button>
    <script src="angular.js"></script>
</body>
</html>
