<!doctype html>
<html data-ng-app>
<head>
    <title>More on Directives</title>
    <link href="styles.css" rel="stylesheet" type="text/css" />
</head>
<body 
 data-ng-init="data={name:'James', isVisible: true, loggedIn: false, status: 'red'}">
    <div data-ng-cloak>
        <div  data-ng-switch on="data.loggedIn" >
            <div data-ng-switch-when="true" data-ng-class="'navy'">
                Welcome {{ data.name }}
            </div>
            <div data-ng-switch-default data-ng-class="'red'">Login</div>
        </div>
        <br />
        <div ng-show="data.isVisible">
            Name: <input type="text" data-ng-model="data.name" /> 
            {{ data.name }}
        </div>
        <button data-ng-click="data.loggedIn=!data.loggedIn;"> Login</button>
    </div>  
    <script src="angular.js"></script> 
</body>
</html>
